.main_h {
  position: fixed;
  top: 0px;
  max-height: 100px;
  z-index: 999;
  width: 100%;
  padding-top: 17px;
  background: none;
  overflow: hidden;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
  opacity: 0;
  top: -100px;
  padding-bottom: 6px;
  font-family: 'Roboto', sans-serif;
}
@media (max-width: 766px) {
  .main_h {
    padding-top: 25px;
  }
}

.open-nav {
  max-height: 400px !important;
}
.open-nav .mobile-toggle {
  transform: rotate(-90deg);
  -webkit-transform: rotate(-90deg);
}

.sticky {
  background-color: rgba(255, 255, 255, 0.93);
  opacity: 1;
  top: 0px;
  
}

.logo {
  width: 19%;
  font-size: 25px;
  color: #8f8f8f;
  text-transform: uppercase;
  float: left;
  display: block;
  margin-top: -5;
  line-height: 1;
  margin-bottom: 70px;
}
@media only screen and (max-width: 766px) {
  .logo {
    float: none;
  }
}

nav {
  float: right;
  width: 80%;
    padding-right: 5%;
}
@media only screen and (max-width: 766px) {
  nav {
    width: 100%;
  }
}
nav ul {
  list-style: none;
  overflow: hidden;
  text-align: right;
  float: right;
}
@media only screen and (max-width: 766px) {
  nav ul {
    padding-top: 10px;
    margin-bottom: 22px;
    float: left;
    text-align: center;
    width: 100%;
  }
}
nav ul li {
  display: inline-block;
  margin-left: 35px;
  line-height: 1.5;
}
@media only screen and (max-width: 766px) {
  nav ul li {
    width: 100%;
    padding: 7px 0;
    margin: 0;
  }
}
nav ul a {
  color: #000000;
  text-transform: lowercase;
  font-size: 20px;
}

nav ul a:hover {
    color: #DE4692
}

.mobile-toggle {
  display: none;
  cursor: pointer;
  font-size: 20px;
  position: absolute;
  right: 22px;
  top: 0;
  width: 30px;
    margin-top: 20px;
  -webkit-transition: all 200ms ease-in;
  -moz-transition: all 200ms ease-in;
  transition: all 200ms ease-in;
}
@media only screen and (max-width: 766px) {
  .mobile-toggle {
    display: block;
  }
}
.mobile-toggle span {
  width: 30px;
  height: 4px;
  margin-bottom: 6px;
  border-radius: 1000px;
  background: #8f8f8f;
  display: block;
}

* {
  box-sizing: border-box;
}

body {
  color: #000000;
  background: white;
  font-family: 'Roboto', sans-serif;
  font-weight: 300;
  -webkit-font-smoothing: antialiased;
}

a {
  text-decoration: none;
}

h1 {
  font-size: 30px;
  line-height: 1.8;
  text-transform: lowercase;
  font-family: 'Roboto', sans-serif;
}

p {
  margin-bottom: 20px;
  font-size: 17px;
  line-height: 2;
}

/* Begin Band member syling */ 
.meetthebandimage {
    background-image: url('/img/Oscreen.svg');
    
    width: 100%;
    height: 1080px;
    background-repeat: no-repeat;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.container {
  position: relative;
  min-width: 26%;
  max-width: 35%;
}

.image {
  display: block;
  width: 100%;
  height: auto;
}

.overlay {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  visibility: hidden;
  opacity: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: .5s ease;
  background-color: #DE4692;
  border-radius: 300px;
}

.container:hover .overlay {
  opacity: 1;
  visibility: visible;
}

.text {
  color: white;
  font-size: 20px;
  font-family: 'Roboto', sans-serif;
  font-size: 30px;
  font-style: italic;
}

@media (max-width: 766px) {
    .meetthebandimage {
        flex-direction: column;
        height: 77vh;
    }
}

/* End band member styling */
.tour {
  background-image: url(/img/Artboard%201.svg);
  background-repeat: no-repeat;
  min-height: 100vh;
}

.tour {
    display: grid;
    grid-template-areas: 
        "buffer header header"
        "buffer dates  location";
    grid-template-columns: 24% 1fr 1fr;
    grid-template-rows: 12rem 1fr;
}

.tourheader {
    grid-area: header;
    font-size: 80px;
    font-family: 'Roboto', sans-serif;
    margin-block-start: 0;
    margin-block-end: 0;
}

.tourdates {
    grid-area: dates;
    list-style: none;
    padding-inline-start: 0;
}

.tourvenue {
    grid-area: location;
    list-style: none;
    padding-inline-start: 0;
}

.tour li {
    margin-bottom: 1.2rem;
    font-size: 1.5rem;
}

/* End Tour */

/* Begin Join */

#join {

}

/* End Join */

@-webkit-keyframes scroll {
  0% {
    opacity: 1;
    -webkit-transform: translateY(0);
    transform: translateY(0);
  }

  100% {
    opacity: 0;
    -webkit-transform: translateY(20px);
    transform: translateY(20px);
  }
}
@keyframes scroll {
  0% {
    opacity: 1;
    -webkit-transform: translateY(0);
    -ms-transform: translateY(0);
    transform: translateY(0);
  }

  100% {
    opacity: 0;
    -webkit-transform: translateY(20px);
    -ms-transform: translateY(20px);
    transform: translateY(20px);
  }
}
